@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "bootstrap/theme";
@import "compass/css3/border-radius";

.fastmodel-embed {
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
}

.fastmodel-share-wrapper {
  margin-top: -$padding-base-vertical;
  margin-bottom: -$padding-base-vertical;
  margin-left: -$padding-base-horizontal;
  margin-right: -$padding-base-horizontal;
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
}

#embed-1 {
  float: left;

  .fastmodel-embed {
    width: 100%;
    max-width: 320px;
  }
}

#embed-full {
  .fastmodel-embed {
    @include border-radius(4px, 4px);

    border: 1px solid $gray-lighter;
    background-color: $gray-lighter;
    margin-bottom: $line-height-computed;

    figcaption {
      @include make-row();

      text-align: left;

      .fastmodel-play-title {
        @include make-xs-column(12);
      }

      .fastmodel-provider-name {
        @include make-xs-column(12);
      }

      .fastmodel-play-summary {
        @include make-xs-column(12);
      }
    }

    .fastmodel-play-extras {
      @include make-xs-column(12);
      @include make-md-column(4);

      .fastmodel-play-video {
        border: 0;
        height: 320px;
        width: 100%;
      }
    }

    .fastmodel-play-frames {
      @include make-xs-column(12);
      @include make-md-column(8);

      li {
        @include make-xs-column(12);
        @include make-sm-column(6);

        .fastmodel-play-image {
          max-width: 500px;
          object-fit: contain;
        }
      }
    }

    .fastmodel-embed-actions {
      clear: both;
    }
  }
}

// vim:ts=2:sw=2:et:tw=78
